body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


.nav-wrapper{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: silver;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid black;
    
}
/*Left Column Styles*/
.nav-wrapper > .left-column{    
    
}
.nav-wrapper > .left-column img{
    width:3.5rem;
}

/*Center Column Styles*/
.nav-wrapper > .center-column >.links-wrapper{
    width: 600px;
    display: flex;
    justify-content: space-between;
}

.nav-wrapper > .center-column >.links-wrapper > .nav-link a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    letter-spacing: .006rem;
    font-weight: 600;
    transition: ease 1s;
}
.nav-wrapper > .center-column >.links-wrapper > .nav-link a:hover {
    color: orange;
    border-bottom: solid 2px black;
}
/*Right Column Styles*/
.nav-wrapper > .right-column{
    padding-right: 50px;
}
.nav-wrapper > .right-column .icon i{
    font-size:2.5rem;
}

/* Section 1 Styles*/
#s1{
    margin: auto;
    padding: 100px 0px 135px 0px;
    background-color: rgb(255,0,0,0.5);
    
}
.section1-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section1-wrapper h1{
    font-size:5rem;
}

.section1-wrapper >.da{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:49%;
}

.enter-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.enter-button a{
    font-size: 2rem;
    text-decoration: none;
    color: black;
}

.enter-button i{
    font-size: 3rem;
}

.enter-button img{
    height: 10rem;
}
/* Section 2 Styles*/
#s2{
    margin: auto;
    padding: 200px 0px 135px 0px;
    background-color: silver;
    height: 600px;
}

.section2-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px; 40px;
}
.red{
   color: red;
}
.section2-wrapper > .center-column img{
    height: 20vh;
}

.section2-wrapper > .right-column {
    padding-left: 40px;
}

.text{
    font-size: 3.5rem;
    width: 30%;
}
/* Section 3 Styles*/
#s3{
    background-image: url(../img/dogPrint_background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.section3-wrapper{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px 60px;
    background-color: rgba(0,0,0,0.88);
}
.section3-wrapper > .intro, tagline {
    font-size: 3.2rem;
    font-weight: 600;
    text-align: center;
}

/* Section 5 Styles*/
#s5{
    background-color: rgb(255,0,0,0.5);
    height: 1010px;
    display: flex;
    justify-content: center;
}

.section5-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 20px 20px 150px;
    column-gap: 10rem;
}

.section5-wrapper > .left-column {
    padding-right: 50px
}

.section5-wrapper > .left-column img{
    height: 40rem;
}

.section5-wrapper > .right-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 150px;

}

.section5-wrapper > .right-column > .subtitle{
    font-size: 7rem;
    text-align: center;
}

/* Section 6 Styles*/
#s6{
    display: flex;
    background-color: silver;
    height: 1010px;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.section6-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Section 7 Styles*/
#s7{
    background-color: rgb(255,0,0,0.5);
    height: 1010px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section7-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
}

.section7-wrapper img{
    width: 90%;
}

.section7-wrapper h2{
    text-align: center;
    width: 100%;
}
.section7-wrapper h2 a{
    text-decoration: none;
}
/* Section 8 Styles*/
#s8{
    background-image: url(../img/dogPrint_background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.section8-wrapper{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 40px 90px;
    background-color: rgba(0,0,0,0.88);
    font-size: 3.2rem;
    font-weight: 600;
    text-align: center;
}
.section8-wrapper > ul li {
    padding-left: 50px;
}

ul {
     list-style-type: '\2713';
   }
/* Section 9 Styles*/
#s9{
    background-color: rgb(255,0,0,0.5);
    height: 1010px;
    width: 100%;
}

#s9 > .section9-wrapper{
    height: 1010px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
}
#s9 > .section9-wrapper p{
    font-size: 2rem;
    margin-bottom: 20px;
}

#s9 > .section9-wrapper > .left-side{
    border-right: 2px dashed black;
}

/* Section 10 Styles*/

#s10{
    background-color: silver;
    height: 1010px;
    width: 100%;
    text-align: center;
}
#s10 > .section10-wrapper > .text-row{
    margin-top: 0px;
    padding-top: 20px;
    font-size: 2rem;
    
}

#s10 > .section10-wrapper > .column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
/* Section 11 Styles*/
/* Section 12 Styles*/
/* Section 13 Styles*/
/* Section 14 Styles*/
/* Section 15 Styles*/
/* Section 16 Styles*/